<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de medico</h1>
    <ul>
        <li>Nombre: {{ med.nombre }}</li>
        <br>
        <li>Apellido: {{ med.apellido }}</li>
        <br>
        <li>Tipo de identificación: {{ med.tipo_identificacion }}</li>
        <br>
        <li>Numero de identificación: {{ med.numero_identificacion }}</li>
        <br>
        <li>Registro medico: {{ med.registro_medico }}</li>
        <br>
        <li>Especialidad: {{ med.especialidad }}</li>
    </ul>
    
</body>
</html>