<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de paciente</h1>
    <ul>
        <li>Nombre: {{ pac.nombre }}</li>
        <br>
        <li>Apellido: {{ pac.apellido }}</li>
        <br>
        <li>Tipo de identificación: {{ pac.tipo_identificacion }}</li>
        <br>
        <li>Numero de identificación: {{ pac.numero_identificacion }}</li>
        <br>
        <li>Altura: {{ pac.altura_paciente }}</li>
        <br>
        <li>Tipo de sangre: {{ pac.tipo_sangre }}</li>
    </ul>
</body>
</html>